{% extends 'login_registration/base.html' %}

{% block content %}
    <div class="container">
        <div class="welcome_message">
            <h3>Welcome to the Test</h3>
            <p>We'er going to build a cool application using a MVC framework! This application was built with the Village88 folks!</p>
            <input type="submit" class="btn btn-primary" value="Start">
        </div>
        <div class="functionality">
            <h4>Manage Users</h4>
            <p>Using this application, you'll learn how to add, remove, and edit users for the application</p>
        </div>
        <div class="functionality">
            <h4>Leave Messages</h4>
            <p>Users will be able to leave a message to another user using this application.</p>
        </div>
        <div class="functionality">
            <h4>Edit User Information</h4>
            <p>Admins will be able to edit another user's information (email address, first name, last name, etc)</p>
        </div>
    </div>
{% endblock content %}